<% layout('layouts/boilerplate') %>
    <div>
        <h4>
            <%= err.message %>
        </h4>
        <p>
            <%= err.stack %>
        </p>
        <!--development purposes-->
        <hr>
        <p>Style this template and remove err.stack later</p>
    </div>