// Footer variables
$footer-height: 70px;
$footer-background: #414833;
$footer-font-color: #EDE0D4;
$link-hover-color: #A68A64;
$nav-font-hover-color:  #414833;

.footer {
    height: $footer-height;
    background: $footer-background;
    max-width: 100%;
    position: sticky;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS 2', sans-serif;
}

#footer-container {
    color: $footer-font-color;
    text-align: center;
    
}

#footer-container a {
    color: $footer-font-color;
    text-decoration: none;
}

#footer-container a:hover {
    color: $link-hover-color;
    text-decoration: none;
}