// Footer variables
$footer-height: 70px;
$footer-background: #9a0313;
$footer-font-color: #fb8b24;
$link-hover-color: #e36414;

.footer {
    height: $footer-height;
    background: $footer-background;
    max-width: 100%;
    position: sticky;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS 2', sans-serif;
}

#footer-container {
    color: $footer-font-color;
    text-align: center;
    
}

#footer-container a {
    color: $footer-font-color;
    text-decoration: none;
    transition: all 0.2s ease;
}

#footer-container a:hover {
    color: $link-hover-color;
    text-decoration: none;
    font-style: italic;
}