$body-background: #FEFADC;
$index-background: white;
// $index-background-hover: #656D4a;   not using?
$box-shadow: black;
$text-color: black;
$muted-text: rgb(112, 112, 112);
$h1: #FB8B24;
$new-shop-background: #FB8B24;
$new-shop-background-hover: #e36414;
$new-shop-text: #5f0f40;
$new-shop-text-hover: white;
$view-shop-background: #5f0f40;
$view-shop-background-hover: #9a031e;
$view-shop-text: #FB8B24;

body, html{
    margin:0;
    padding:0;
}

body {
  min-height: 100vh;
  background: $body-background;
}

h1 {
    text-align: center;
    color: $h1;
    text-shadow: 1px 1px 1px rgb(51, 51, 51);
    font-family: 'UnifrakturCook', cursive;      

}

#newShop {
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'M PLUS 2', sans-serif;
    a {
        background: $new-shop-background;
        // border: solid;
        padding: 0.75rem;
        border-radius: 0.75rem;
        text-decoration: none;
        color: $new-shop-text;
        transition: all 0.2s ease;
        display: inline-block;
    }
    a:hover {
        background: $new-shop-background-hover;
        color: $new-shop-text-hover;
        transform: translateY(-3px);
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    padding-bottom: 1.5rem;
}

.shopImg {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px $box-shadow;
    object-fit: cover;
}

.shopImgContainer {
    grid-column: 2/3;
    max-width: 1fr;
}

.shopIndex {
    grid-column: 3/4;
    padding-left: 1rem;
    // padding-top: 1rem;
    background: $index-background;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px $box-shadow;
    display: inline-flex;
    align-items: center;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 800;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    #shopName {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    #shopLocation {
        grid-column: 1/4;
        grid-row: 2/3;
        color: $muted-text;
    }
    #viewShop {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        background: $view-shop-background;
        // border: solid;
        padding: 0.25rem;
        border-radius: 0.75rem;
        text-decoration: none;
        color: $view-shop-text;
        transition: all 0.2s ease;
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    #viewShop:hover {
        background: $view-shop-background-hover;
        color: $new-shop-text-hover;
        transform: translateY(-3px);
    }
    
}

ul {
    list-style-type: none;
}