<% layout('layouts/boilerplate') %>
    <h1>Add shop details</h1>
    <div class="allButton">
        <a href="/shops">All Shops</a>
    </div>
    <section class="formContainer">
        <form action="/shops" method="POST" class="newEditContainer">
            <!-- This is not allowing anything to post, because its for files? enctype="multipart/form-data" -->
            <div class="nameContainer">
                <div>
                    <label for="name">Shop Name</label>
                    <input type="text" id="name" name="shop[name]">
                </div>
            </div>
            <div class="infoContainer">
                <div class="shopLocation">
                    <label for="location">Location</label>
                    <input type="text" id="location" name="shop[location]">
                </div>
                <div class="shopNumber">
                    <!-- make type=tel -->
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" name="shop[phone]">
                </div>
                <div class="shopHours">
                    <label for="hours">Hours</label>
                    <input type="text" id="hours" name="shop[hours]">
                </div>
                <div class="shopLink">
                    <label for="link">Link to webpage</label>
                    <input type="text" id="link" name="shop[link]">
                </div>
            </div>
            <div class="detailsContainer">
                <div class="shopDescription">
                    <label for="description">Description</label>
                    <textarea name="shop[description]" id="description" rows="10"></textarea>
                </div>
                <div>
                    <label for="dropDiv">Image(s)</label>
                    <div class="shopImage dropZone" id="dropDiv">
                        <!-- <label for="myFile">Images</label> -->
                        <span class="dropZonePrompt">Drop file here or click to upload</span>
                        <input type="file" name="shop[image]" class="dropZoneInput" id="myFile" multiple>
                    </div>
                </div>
                <div class="shopFeatures">
                    <div id="featureLabel">
                        <label for="">Features</label>
                    </div>
                    <div class="optionContainer" id="firstOption">
                        <input type="checkbox" id="gaming" name="shop[features]" value="gaming">
                        <label for="gaming">Open Gaming</label>
                    </div>
                    <div class="optionContainer" id="secondOption">
                        <input type="checkbox" id="trade" name="shop[features]" value="trade">
                        <label for="trade">Trade-ins</label>
                    </div>
                    <div class="optionContainer" id="thirdOption">
                        <input type="checkbox" id="events" name="shop[features]" value="events">
                        <label for="events">In-store events</label>
                    </div>
                    <div class="optionContainer" id="fourthOption">
                        <input type="checkbox" id="tournaments" name="shop[features]" value="tournaments">
                        <label for="tournaments">CCG Tournaments</label>
                    </div>
                    <div class="optionContainer" id="fifthOption">
                        <input type="checkbox" id="membership" name="shop[features]" value="membership">
                        <label for="membership">Membership program</label>
                    </div>
                    <div class="optionContainer" id="sixthOption">
                        <input type="checkbox" id="food" name="shop[features]" value="food">
                        <label for="food">Food/drinks allowed</label>
                    </div>
                </div>
                <div class="buttonContainer">
                    <button class="submitButton">Add Shop</button>
                </div>
        </form>
    </section>


    <!-- CHECK THIS LINK: https://www.reddit.com/r/webdev/comments/nm6wcl/18_cards_of_how_to_design_web_forms/ -->